<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <add name="IAC_Auria_GDSEntities" connectionString="metadata=res://*/Databases.IAC_Auria_GDSEntities.csdl|res://*/Databases.IAC_Auria_GDSEntities.ssdl|res://*/Databases.IAC_Auria_GDSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CEM02\SQLEXPRESS2024;initial catalog=IAC Auria GDS;persist security info=True;user id=sa;password=cem@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IAC_Auria_GDSEntitiesADOCS" connectionString="Data Source=CEM02\SQLEXPRESS2024;Initial Catalog=IAC Auria GDS;Integrated Security=False;User Id=sa;Password=cem@123;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />

    <!--<add name="IACBIEntities" connectionString="metadata=res://*/Databases.IACBIEntities.csdl|res://*/Databases.IACBIEntities.ssdl|res://*/Databases.IACBIEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.145\STASQL14;initial catalog=IACBI;persist security info=True;user id=IACUser;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IACBIEntitiesADOCS" connectionString="Data Source=192.168.1.145\STASQL14;Initial Catalog=IACBI;Integrated Security=False;User Id=IACUser;Password=123;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>