GDS.API/bin/
GDS.API/obj/


GDS.Web/bin/
GDS.Web/obj/

GDS.Data/bin/
GDS.Data/obj/

GDS.Common/bin/
GDS.Common/obj/

GDS.Services/bin/
GDS.Services/obj/

GDS.Entities/bin/
GDS.Entities/obj/


*.cache


packages/
.vs/
GDS.API/TempFiles/


