<form name="AddOrUpdateIACCycleGoalForm" novalidate ng-controller="AddOrUpdateIACCycleGoalController">
    <!--<h1 class="title" ng-bind="PageTitle"></h1>-->
    <h1 class="title" ng-show="IACCycleGoalId>0" translate="IACCycleGoal_Edit"></h1>
    <h1 class="title" ng-show="!(IACCycleGoalId>0)" translate="IACCycleGoal_Add"></h1>
    <div role="tabpanel" class="form-horizontal" id="messages">
        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(AddOrUpdateIACCycleGoalForm.$submitted && (!AddOrUpdateIACCycleGoalForm.$valid))">
            <ul ng-show="AddOrUpdateIACCycleGoalForm.$submitted && (!AddOrUpdateIACCycleGoalForm.$valid)">
                <li ng-show="AddOrUpdateIACCycleGoalForm.TonnageRangeId.$error.required" translate="IACCycleGoal_Validation1">Range is required.</li>
                <li ng-show="AddOrUpdateIACCycleGoalForm.IACBIC.$error.required" translate="IACCycleGoal_Validation2">IAC BIC is required.</li>
                <li ng-show="AddOrUpdateIACCycleGoalForm.WorldClass.$error.required" translate="IACCycleGoal_Validation3">World Class is required.</li>
                <li ng-show="AddOrUpdateIACCycleGoalForm.AvgLaborPerPressSize.$error.required" translate="IACCycleGoal_Validation4">Avg Labor Per Press Size is required.</li>

            </ul>
        </div>
    </div>
    <div class="top_msg" translate="IACCycleGoal_TopMsg">This page allow you to add IAC Cycle Goal</div>
    <div class="wthbox wth_content pb-0 MasterDataPanel">
        <div class="toplinks">
            <ul>
                <li ng-if="isSubModuleAccessibleToUser('DCS', 'IAC Standards Links', 'Add / Update IAC Cycle Goal')"><button type="submit" class="save" data-placement="top" data-toggle="tooltip" title="Save" ng-click="SaveIACCycleGoal(AddOrUpdateIACCycleGoalForm)"></button></li>
                <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ng-click="cancel()"></a></li>
            </ul>
        </div>

        <!--<div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label rn_pad mandatoryField">Plant</label>
            <div class="col-sm-6 col-md-4">
                <select class="form-control select_list" name="PlantId" ng-model="IACCCycleObj.PlantId"
                         ng-options="plant.PlantID as plant.PlantName for plant in PlantList" required="required">
                    <option value="">Select Plant</option>
                </select>
            </div>
        </div>-->
        <!--<div class="form-group">
            <label class="col-sm-3 col-lg-2 control-label rn_pad">Plant Month Year</label>
            <div class="col-sm-6 col-md-4"><input type="text" name="PlantMonthYearId" class="form-control" maxlength="50" ng-model="IACCCycleObj.PlantMonthYearId"></div>
        </div>-->

        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="IACCycleGoal_Range">Range</label>
            <div class="col-sm-6 col-md-4">
                <select class="form-control select_list" name="TonnageRangeId" ng-model="IACCCycleObj.TonnageRangeId"
                        ng-options="r.TonnageRangeId as r.RangeStr for r in TonnageRangeList" required="required">
                    <option value="" translate="BICKeyStandard_SelectRange" >Select Range</option>
                </select>
            </div>
        </div>

            <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField">IAC BIC</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" name="IACBIC" class="form-control text-center" integer-only maxlength="7" ng-model="IACCCycleObj.IACBIC" required="required">
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="IACCycleGoal_WC">World Class</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" name="WorldClass" class="form-control text-center" integer-only maxlength="7" ng-model="IACCCycleObj.WorldClass" required="required">
            </div>
        </div>


        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="IACCycleGoal_AbgLabor">Avg Labor Per Press Size(HC)</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" name="AvgLaborPerPressSize" class="form-control text-center" decimal-only="number 2" maxlength="7" ng-model="IACCCycleObj.AvgLaborPerPressSize" required="required">
            </div>
        </div>


    </div>
</form>


