<form name="UpdateChangeLogform" novalidate ng-controller="UpdateChangeLogController">
    <h3 class="title  fontorang">
        <b>
            <a ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>
            <span> &nbsp;/&nbsp;&nbsp;</span><a ui-sref="Process({MenuId:MenuId})" ng-bind="MenuName"></a>
        </b>
    </h3>
    <!--<div role="tabpanel" class="form-horizontal" id="messages">
        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(AddOrUpdateProcessform.$submitted && (!AddOrUpdateProcessform.$valid))">
            <ul ng-show="(AddOrUpdateProcessform.$submitted && (!AddOrUpdateProcessform.$valid))">
                <li ng-show="AddOrUpdateProcessform.MenuId.$error.required">Menu is required.</li>
                <li ng-show="AddOrUpdateProcessform.ProcessName.$error.required">Process Name is required.</li>
            </ul>
        </div>
    </div>-->
    <div class="top_msg">This page allow you to lookup Process</div>
    <div class="wthbox wth_content">
        <div class="toplinks">
            <ul>
                <li><button type="submit" class="save" data-placement="top" data-toggle="tooltip" title="Save" ng-click="SaveChangeLogDetail(UpdateChangeLogform)"></button></li>
                <li><a class="cancel" data-placement="top" ui-sref="ChangeLog({MenuId:MenuId})" data-toggle="tooltip" title="Cancel"></a></li>
            </ul>
        </div>
      

        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 control-label text-right rn_pad">Process Name</label>
            <div class="col-sm-6 col-md-4"><input type="text" name="ProcessName" class="form-control" maxlength="200" ng-model="ChangeLog.ProcessName" required="required"></div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 control-label text-right rn_pad ">Sub Process Name</label>
            <div class="col-sm-6 col-md-4"><textarea name="SubProcessName" class="form-control" ng-model="ChangeLog.SubProcessName"></textarea></div>
        </div>


        <div class="row  form-group">
            <label class="col-sm-3 col-lg-2 control-label text-right rn_pad ">Document Name</label>

            <div class="col-sm-6 col-md-4"><textarea name="SubProcessName" class="form-control" ng-model="ChangeLog.DocumentName"></textarea></div>
        </div>

        <div class="row  form-group">
            <label class="col-sm-3 col-lg-2 control-label text-right rn_pad ">Description</label>

            <div class="col-sm-6 col-md-4"><textarea name="SubProcessName" class="form-control" ng-model="ChangeLog.Description"></textarea></div>
        </div>

        <div class="row  form-group">
            <label class="col-sm-3 col-lg-2 control-label text-right rn_pad ">Action</label>

            <div class="col-sm-6 col-md-4"><textarea name="SubProcessName" class="form-control" ng-model="ChangeLog.Action"></textarea></div>
        </div>
        <!--<div class="row form-group">
            <br />
            <label class="col-sm-3 col-lg-2 control-label text-right rn_pad pt-5">Region</label>

            <div class="col-sm-12 col-md-8">
                <div class="col-sm-2 pt-5">
                    <input type="radio" style="cursor:pointer" ng-model="ProcessObj.RegionType" value="-1">&nbsp;<b>Global</b>&nbsp;&nbsp;&nbsp;
                    <input type="radio" style="cursor:pointer" ng-model="ProcessObj.RegionType" value="1">&nbsp;<b>Other</b>
                </div>
                <div class="col-sm-6" ng-show="ProcessObj.RegionType==1">
                    <dropdown-multiselect model="ProcessObj.SelectedRegion" ng-click="SelectedRegion()"
                                          options="RegionList" name="RegionId"></dropdown-multiselect>
                    <strong> <span class="control-label" ng-bind="RegionNames"></span></strong>
                </div>

            </div>
        </div>-->
      

       

    </div>
</form>



