<h1 class="title iac-breadcrumb"><a ui-sref="Master"><i class="fa fa-home"></i></a> <span translate="Program_Header">Programs</span></h1>
<div class="top_msg" translate="Program_TopMsg">This page allows you to lookup program.</div>
<div class="wthbox wth_content pb-0 MasterDataPanel" ng-controller="ProgramController">
    <div class="toplinks btnWithText">
        <ul>
            <li ng-if="isSubModuleAccessibleToUser('Admin', 'Plant Quick Links', 'Add / Update Program')"><a class="add" ui-sref="AddProgram({ProgramID:0})" translate="NewButton">NEW</a></li>
            <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="Master"></a></li>
            <!--<li><button-print></button-print></li>-->
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" translate="Program_Header">Programs</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table grid table-bordered table-condensed table-hover table-responsive" id="tblProgram"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
