<style>
    .arrowdirection{
    font-size:12px;
    margin-left:10px;
    margin-right:10px;
}
    .tableboxtd {
        border: 1px solid #81A0C0;
        font-size: 12px;
        color: black;
        line-height: 14px;
        font-family: arial,helvetica;
        text-decoration: none;
        background-color: #DDEEFF;
    }
</style>
<div class="db-content no-space">
    <h3 class="title  fontorang"><b><a title="Home"><i class="fa fa-home"></i></a><span class="arrowdirection">&nbsp;&nbsp;</span>  <span><a>Global Documentation System</a>  <span class="arrowdirection">>></span><span class="fontblack">Core Processes</span></span></b></h3>
    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-bordered text-center ">
                        <tr class="pressTitleRow">
                            <th colspan="2">CPM : PROGRAM MANAGEMENT</th>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                            <td class="font-bold text-left tableboxtd">Proposal and Award</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">20</a></b></td>
                            <td class="font-bold text-left tableboxtd">Product &amp; Process development</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">30</a></b></td>
                            <td class="font-bold text-left tableboxtd">Production Readiness</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">40</a></b></td>
                            <td class="font-bold text-left tableboxtd">Launch</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-bordered text-center">
                        <tr class="pressTitleRow">
                            <th colspan="2">CMC : CHANGE MANAGEMENT</th>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                            <td class="font-bold text-left tableboxtd">Design & Development changes</td>
                        </tr>                        
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-bordered text-center">
                        <tr class="pressTitleRow">
                            <th colspan="2">CMA :  MANUFACTURING</th>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                            <td class="font-bold text-left tableboxtd">Identification and Traceability</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">20</a></b></td>
                            <td class="font-bold text-left tableboxtd">Maintenance & Tooling mgt</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">30</a></b></td>
                            <td class="font-bold text-left tableboxtd">Customer Property</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">40</a></b></td>
                            <td class="font-bold text-left tableboxtd">Process Validation</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">50</a></b></td>
                            <td class="font-bold text-left tableboxtd">Process & Product Control</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">60</a></b></td>
                            <td class="font-bold text-left tableboxtd">PC&L Prod. Control & Log</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-bordered text-center ">
                        <tr class="pressTitleRow">
                            <th colspan="2"> CQO : QUALITY OPERATIONS</th>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                            <td class="font-bold text-left tableboxtd">Control of MTC equipment</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">20</a></b></td>
                            <td class="font-bold text-left tableboxtd">Monitoring and Measurements</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">30</a></b></td>
                            <td class="font-bold text-left tableboxtd">	 Internal & External Laboratories</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">40</a></b></td>
                            <td class="font-bold text-left tableboxtd">Supplier Monitoring</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">50</a></b></td>
                            <td class="font-bold text-left tableboxtd">Control of ext. provided processes, products and services</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">60</a></b></td>
                            <td class="font-bold text-left tableboxtd">Product Safety</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">70</a></b></td>
                            <td class="font-bold text-left tableboxtd">Warranty</td>
                        </tr>
                    </table>              
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-bordered text-center">
                        <tr class="pressTitleRow">
                            <th colspan="2">CEN : ENGINEERING</th>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">20</a></b></td>
                            <td class="font-bold text-left tableboxtd">Control of Eng. standards and specification</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body table-responsive">
                    <table class="table table-bordered text-center">
                        <tr class="pressTitleRow">
                            <th colspan="2">CRC : RISK CONTROL</th>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                            <td class="font-bold text-left tableboxtd"> Risk Assessment</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">20</a></b></td>
                            <td class="font-bold text-left tableboxtd"> Escalation Process</td>
                        </tr>
                        <tr>
                            <td class="weeklyefficiency"><b><a class="text-white">30</a></b></td>
                            <td class="font-bold text-left tableboxtd">Emergency and Recovery planning</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

