
<div class="db-content no-space" ng-controller="ProcessController">

    <h3 class="title  fontorang">
    <b><a  ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>     
      <span> &nbsp;/&nbsp;&nbsp;</span>  <span class="fontblack">{{MenuName}}</span></b>
     </h3>
   
    <div class="col-sm-12" ng-if="ProcessDisplayType==Enum.ProcessDisplayType.MultiTable">
        <div class="col-sm-12">
            <span class="pull-right mb-10">
                <button type="button" title="Add Processes" ng-click="showEdit(true,true)" class="btn btn-primary "><i class="glyphicon glyphicon-plus"></i></button>
                <button type="button" title="Edit Processes" ng-click="showEdit(false)" class="btn btn-primary"><i ng-class="(IsEditMode==false)?'glyphicon glyphicon-pencil':'glyphicon glyphicon-ok'"></i></button>
            </span> 
        </div>
    
       <div ng-repeat="Process in ProcessListData | unique:'ProcessId':true">
            <div class="col-sm-4" >
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <table class="table table-bordered text-center ">
                            <tr class="pressTitleRow">
                                <th colspan="2" ng-bind="Process.ProcessName" class="bh_right_none" ></th>
                                <th ng-show="!IsEditMode" class="headerborder"></th>
                                <th ng-show="IsEditMode" class="editprocessheader"><a><i ng-click="GoToEditProcess(Process,Enum.Mode.Edit)" class="glyphicon glyphicon-pencil" data-original-title="Edit" data-toggle="tooltip"></i></a></th>
                              
                            </tr>
                            <!--<tr>
                                <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                                <td class="font-bold text-left tableboxtd">{{}}</td>
                                <td ng-show="hideEdit" ><a><i class="glyphicon glyphicon-pencil cursor-pointer" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">20767</a></b></td>
                                <td class="font-bold text-left tableboxtd">Product &amp; Process development</td>
                                <td ng-show="hideEdit"><a><i class="glyphicon glyphicon-pencil cursor-pointer" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">30</a></b></td>
                                <td class="font-bold text-left tableboxtd">Production Readiness</td>
                                <td ng-show="hideEdit"><a><i class="glyphicon glyphicon-pencil cursor-pointer" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">40</a></b></td>
                                <td class="font-bold text-left tableboxtd">Launch</td>
                                <td ng-show="hideEdit"><a><i class="glyphicon glyphicon-pencil cursor-pointer" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                            </tr>-->
                           
                                <tr ng-repeat="SubProcess in ProcessListData | filter :{ProcessId : Process.ProcessId}: true" >
                                    <td class="weeklyefficiency colsm_5"><b><a ng-click="GotoProcessDetail(SubProcess,Enum.Mode.Readonly)" class="text-white">{{SubProcess.SubProcessCode}}</a></b></td>
                                    <td class="font-bold text-left tableboxtd col-sm-2">{{SubProcess.SubProcessName}}</td>
                                    <td class="colsm_1" ng-show="!IsEditMode"><a ng-click="GotoProcessDetail(SubProcess,Enum.Mode.Readonly)"><i class="glyphicon glyphicon-eye-open editprocessheader" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                                    <td class="colsm_1" ng-show="IsEditMode"><a><i class="glyphicon glyphicon-pencil editprocessheader" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                                </tr>
                           
                        </table>
                    </div>
                </div>


            </div>
           <div ng-if="(($index+1)%3)==0" class="col-sm-12">

           </div>
        </div> 
    </div>


    <div class="col-sm-8 col-lg-offset-2 mt-30" ng-if="ProcessDisplayType==Enum.ProcessDisplayType.List">
        <table class="table table-responsive table-bordered col-lg-8 fs16">
            <thead>
                <tr class="pressTitleRow">
                    <th class="col-sm-4">Process</th>
                    <th class="col-sm-8">Interested Departments</th>
                </tr>
            </thead>
            <tbody>                
                <tr ng-repeat="Process in ProcessListData">
                    <td><a href="" ng-bind="Process.ProcessName"></a></td>
                    <td class="font-bold">Business Units, Operations, Engineering</td>
                </tr>          
            </tbody>
        </table>
    </div>



</div>

