
<div class="db-content no-space" ng-controller="ProcessController">
    <h3 class="title  fontorang"><b><a title="Home"><i class="fa fa-home"></i></a><span class="arrowdirection">&nbsp;&nbsp;</span>  <span><a>Global Documentation System</a>  <span class="arrowdirection">>></span><span class="fontblack">Core Processes</span></span></b></h3>
    <div class="col-sm-12" ng-if="ProcessDisplayType==Enum.ProcessDisplayType.MultiTable">
        <div ng-repeat="Process in ProcessListData">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <table class="table table-bordered text-center ">
                            <tr class="pressTitleRow">
                                <th colspan="2" ng-bind="Process.ProcessName"></th>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">10</a></b></td>
                                <td class="font-bold text-left tableboxtd">Proposal and Award</td>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">20</a></b></td>
                                <td class="font-bold text-left tableboxtd">Product &amp; Process development</td>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">30</a></b></td>
                                <td class="font-bold text-left tableboxtd">Production Readiness</td>
                            </tr>
                            <tr>
                                <td class="weeklyefficiency"><b><a class="text-white">40</a></b></td>
                                <td class="font-bold text-left tableboxtd">Launch</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>


    <div class="col-sm-8 col-lg-offset-2 mt-30" ng-if="ProcessDisplayType==Enum.ProcessDisplayType.List">
        <table class="table table-responsive table-bordered col-lg-8 fs16">
            <thead>
                <tr class="pressTitleRow">
                    <th class="col-sm-4">Process</th>
                    <th class="col-sm-8">Interested Departments</th>
                </tr>
            </thead>
            <tbody>                
                <tr ng-repeat="Process in ProcessListData">
                    <td><a href="" ng-bind="Process.ProcessName"></a></td>
                    <td class="font-bold">Business Units, Operations, Engineering</td>
                </tr>          
            </tbody>
        </table>
    </div>



</div>

