<h1 class="title iac-breadcrumb"><a ui-sref="Configuration"><i class="fa fa-home"></i></a> <span translate="MaterialData_Header">Material Data</span></h1>
<div class="top_msg" translate="MaterialData_TopMsg">This page allows you to lookup Material Data.</div>
<div class="wthbox wth_content pb-0 MasterDataPanel" ng-controller="MaterialDataController">
    <div role="tabpanel" class="form-horizontal" id="messages">
    </div>
    <div class="toplinks btnWithText">
        <ul>
            <li ng-if="isSubModuleAccessibleToUser('DCS', 'IAC Standards Links', 'Add / Update Material Data')"><a class="add" ng-click="AddNewRow()" translate="NewButton">NEW</a></li>
            <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="Configuration"></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-2 form-group">
            <label translate="SearchButton">Search</label>
            <input type="text" class="form-control" maxlength="15" ng-model="SearchFor" />
        </div>
        <div class="col-sm-6 col-lg-8 form-group mt-25">
            <button type="button" class="btn btn-primary" ng-click="GetMaterialDataList()" translate="SearchButton">Search</button>
            <label class="ml-10 notescolor"><b translate="MaterialData_Note">(Note: Filter based on Material Code,Supplier and Type Column)</b></label>
        </div>
        <!--<div class="col-sm-6">
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="InsertPlanEquipmentList()">Load Master Data</button>
            </div>
            <div class="col-sm-4">
                <input type="file" name="file" id="PlantEquipmentListFile" class="upload" file-model="fileUpload" />
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-primary" ng-click="UploadPlantEquipmentFile()">Upload Master Data</button>
            </div>
        </div>-->
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title" translate="MaterialData_Header">Material Data</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table grid table-hover table-bordered  table-striped table-condensed datatable" id="tblMaterialData" datatable="ng" dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="text-align:left" translate="MaterialData_MaterialCode">Material Code</th>
                            <th style="text-align:left"  translate="MaterialData_Supplier">Supplier</th>
                            <th style="text-align:left"  translate="MaterialData_Type">Type</thstyle="text-align:left">
                            <th translate="MaterialData_MeltLow">Melt Low</th>
                            <th translate="MaterialData_MeltHigh">Melt High</th>
                            <th translate="MaterialData_MoldTempLow">Mold Temp Low</th>
                            <th translate="MaterialData_MoldTempHigh">Mold Temp High</th>
                            <th translate="MaterialData_MeltFlow">Melt Flow Index</th>
                            <th translate="MaterialData_Shrinkage">Shrinkage</th>
                            <th>HDT</th>
                            <th translate="MaterialData_ThermalDiff">Thermal Diff. (in<sup>2</sup>/sec)</th>
                            <th translate="MaterialData_Gravity">Specific Gravity</th>
                            <th translate="MaterialData_ShearRate">Max Shear Rate</th>
                            <th translate="MaterialData_OptimumPeripheral">Optimum Peripheral Speed</th>
                            <th translate="MaterialData_DensityTemp">Density at Process Temperature</th>
                            <th translate="MaterialData_TempLow">Drying Temp Low</th>
                            <th translate="MaterialData_TempHigh">Drying Temp High</th>
                            <th translate="MaterialData_DryingTimeLow">Drying Time Low</th>
                            <th translate="MaterialData_DryingTimeHigh">Drying Time High</th>
                            <th translate="MaterialData_ThermalLow">Thermal Conductivity Low (Btu/hr ft 0F)</th>
                            <th translate="MaterialData_ThermalHigh">Thermal Conductivity High (Btu/hr ft 0F)</th>
                            <th translate="MaterialData_SpecificHeat">Specific Heat (Btu/lb 0F)</th>
                            <th translate="MaterialData_Density">Density</th>
                            <th translate="MaterialData_Action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in MaterialDataList | orderBy  : '-MaterialId'" ng-include="GetTemplate(n)"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="View.html">
    <td style="text-align:center;">{{$index+1}}</td>
    <td style="width:200%">{{n.MaterialCode}}</td>
    <td>{{n.SupplierName}}</td>
    <td>{{n.MaterialTypeCode}}</td>
    <td align="center">{{n.MeltLow}}</td>
    <td align="center">{{n.MeltHigh}}</td>
    <td align="center">{{n.MoldTempLow}}</td>
    <td align="center">{{n.MoldTempHigh}}</td>
    <td align="center">{{n.MeltFlowIndex}}</td>
    <td align="center">{{n.Shrinkage}}</td>
    <td align="center">{{n.HDT}}</td>
    <td align="center">{{n.ThermalDiff}}</td>
    <td align="center">{{n.SpecificGravity}}</td>
    <td align="center">{{n.MaxShearRate}}</td>
    <td align="center">{{n.OptimumPeripheralSpeed}}</td>
    <td align="center">{{n.DensityAtProcessTemperature}}</td>
    <td align="center">{{n.DryingTempLow}}</td>
    <td align="center">{{n.DryingTempHigh}}</td>
    <td align="center">{{n.DryingTimeLow}}</td>
    <td align="center">{{n.DryingTimeHigh}}</td>
    <td align="center">{{n.ThermalConductivityLow}}</td>
    <td align="center">{{n.ThermalConductivityHigh}}</td>
    <td align="center">{{n.SpecificHeat}}</td>
    <td align="center">{{n.Density}}</td>
    <td align="center" class="action">
        <a ng-if="isSubModuleAccessibleToUser('DCS', 'IAC Standards Links', 'Add / Update Material Data')"  ng-click="Edit(n)"><i  class="glyphicon glyphicon-pencil cursor-pointer"  data-original-title="Edit" data-toggle="tooltip"></i></a>
        <a ng-if="isSubModuleAccessibleToUser('DCS', 'IAC Standards Links', 'Delete Material Data')" ng-show="n.MaterialId>0" ng-click="DeleteMaterial(n.MaterialId)"><i class="glyphicon glyphicon-trash cursor-pointer" data-original-title="Delete" data-toggle="tooltip"></i></a>
    </td>
</script>
<script type="text/ng-template" id="Edit.html">
    <td style="text-align:center;">{{$index+1}}</td>
    <td >
        <input type="text" class="form-control" ng-model="n.MaterialCode" maxlength="15" ng-class="{redBorderColor: (isNullOrUndefinedOrEmpty(n.MaterialCode) && n.IsClicked==true)}" />
    </td>
    <td><input type="text" class="form-control" ng-model="n.SupplierName" maxlength="15" ng-class="{redBorderColor: (isNullOrUndefinedOrEmpty(n.SupplierName) && n.IsClicked==true)}" /></td>
    <td>
        <select class="form-control" ng-model="n.MaterialTypeId" ng-class="{redBorderColor: (n.MaterialTypeId<=0 && n.IsClicked==true)}"
                ng-options="option.MaterialTypeId as option.MaterialTypeCode for option in MaterialTypeList | unique:'MaterialTypeCode' | orderBy:'MaterialTypeCode'"></select>
    </td>
    <td><input type="text" class="form-control " ng-model="n.MeltLow" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.MeltHigh" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.MoldTempLow" decimal-only="temp 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.MoldTempHigh" decimal-only="temp 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.MeltFlowIndex" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.Shrinkage" decimal-only="number 4" /></td>
    <td><input type="text" class="form-control" ng-model="n.HDT" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.ThermalDiff" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.SpecificGravity" decimal-only="number 3" /></td>
    <td><input type="text" class="form-control" ng-model="n.MaxShearRate" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.OptimumPeripheralSpeed" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.DensityAtProcessTemperature" decimal-only="number 3" /></td>
    <td><input type="text" class="form-control" ng-model="n.DryingTempLow" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.DryingTempHigh" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.DryingTimeLow" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.DryingTimeHigh" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.ThermalConductivityLow" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.ThermalConductivityHigh" decimal-only="number 2" /></td>
    <td><input type="text" class="form-control" ng-model="n.SpecificHeat" decimal-only="number 3" /></td>
    <td><input type="text" class="form-control" ng-model="n.Density" decimal-only="number 4" /></td>

    <td align="center" class="action">
        <a ng-if="isSubModuleAccessibleToUser('DCS', 'IAC Standards Links', 'Add / Update Material Data')" class="cursor-pointer" ng-click="Save(n)">
            <span><i class="glyphicon glyphicon-ok"></i></span>
        </a>
        <a ng-if="isSubModuleAccessibleToUser('DCS', 'IAC Standards Links', 'Delete Material Data')" class="cursor-pointer" ng-click="Clear(n)">
            <span><i class="glyphicon glyphicon-remove"></i></span>
        </a>
    </td>
</script>
<style>
    table {
        table-layout: fixed;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #tblMaterialData {
        width: 4000px;
        max-width: 4000px;
    }
</style>