<form name="UpdateUtilityConfigurationform" novalidate ng-controller="UpdateUtilityConfigurationController">
    <h1 class="title iac-breadcrumb"><a ui-sref="Configuration"><i class="fa fa-home"></i></a> <span  translate="IACGoalParameter_header">IAC Global Parameters</span></h1>
    <div class="top_msg" translate="IACGoalParameter_TopMsg">This page allow you to lookup IAC Global Parameters</div>
    <div class="wthbox wth_content pb-0 MasterDataPanel">
        <div class="toplinks">
            <ul>
                <li ng-if="isSubModuleAccessibleToUser('DCS', 'General Settings Links', 'Add / Update IAC Global Parameters')"><button type="submit" class="save" data-placement="top" data-toggle="tooltip" title="Save" ng-click="UpdateUtilityConfiguration(UpdateUtilityConfigurationform)"></button></li>
                <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="Configuration"></a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title" translate="IACGoalParameter_Parameters">Parameters</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered grid table-condensed table-hover">
                            <tr>
                                <th translate="IACGoalParameter_Parameter">Parameter</th>
                                <th translate="IACGoalParameter_Value">Value</th>
                            </tr>
                            <tr ng-if="LabelName != 'GradeCardChartMonthInterval'" ng-repeat="utilityObj in UtilityConfigurationModel">
                                <td align="center">{{utilityObj.LabelName}}</td>
                                <td><input id="txtkeyvalue" class="form-control" decimal-only="number 2" ng-model="utilityObj.KeyValue" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>