
<div class="db-content no-space" ng-controller="SubProcessController">
   
    <h3 class="title fontorang">
        <b>
            <a ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>
            <span> &nbsp;/&nbsp;&nbsp;</span><a ui-sref="Process({MenuId:MenuId})" ng-bind="MenuName"></a>  <span class="arrowdirection">>></span>  <span class="fontblack" ng-bind="SubProcessObj.SubProcessName"></span>
        </b>
    </h3>


        
        <div class="col-lg-12">
            <div class="col-sm-2 mt-10">
                <div class="globalbox divCentText text-center customertableHeader_bl">
                    <h3><b ng-bind="SubProcessObj.RegionName"></b></h3>
                </div>
            </div>
            <div class="col-lg-8 mt-10 pt-10 text-center">
                <h4><b><u ng-bind="SubProcessObj.SubProcessCode"></u></b>&nbsp;&nbsp;<b ng-bind="SubProcessObj.SubProcessName"></b></h4>
            </div>
            <div class="col-lg-2 mt-10">
                <div class="processModelbox divCentText pull-right" ng-hide="SubProcessObj.SubProcessModelPath=='' || SubProcessObj.SubProcessModelPath==null">
                    <h4 class="text-center mt-25"><a ng-href="{{SubProcessObj.SubProcessModelPath}}" target="_blank"><i><b>Process<br />Model</b></i></a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row text-center">
                <h4 class="fs16"> <b> Process Owner : <span ng-bind="SubProcessObj.SubProcessOwner"></span></b></h4>
            </div>
            <div class="col-lg-12 pt-25">
                <table class="table table-responsive table-bordered col-lg-12" ng-hide="IsEmptyHeader()">
                    <thead>
                        <tr class="customertableHeader_bl">
                            <th class="col-lg-4 text-center">INPUT</th>
                            <th class="col-lg-4 text-center">FUNDAMENTALS OF THE PROCESS </th>
                            <th class="col-lg-4 text-center">OUTPUT/KPI</th>
                        </tr>
                    </thead>
                    <tbody class="fs15">
                        <tr>
                            <td class="font-bold"><span ng-bind-html="SubProcessObj.SubProcessInput"></span></td>
                            <td class="font-bold">
                                <span ng-bind-html="SubProcessObj.FundamentalOfProcess"></span>
                            </td>
                            <td class="font-bold">
                                <span ng-bind-html="SubProcessObj.SubProcessOutput"></span>
                            </td>
                        </tr>
                        <tr class="customertableHeader_bl">
                            <td>&nbsp;</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <div class="col-lg-12 pt-25">
                <table class="table table-responsive table-bordered col-lg-12 ">
                    <thead>
                        <tr class="customertableHeader_nb">
                            <th class="col-lg-4 text-center">DOC CODE</th>
                            <th class="col-lg-4 text-center">DOCUMENT TITLE</th>
                            <th class="col-lg-4 text-center">RELEASE DATE</th>
                        </tr>
                    </thead>
                    <tbody class="fs15">
                        <tr ng-repeat="Document  in ProcessDocuments">
                            <td class="pt-20 pb-20"><h4 class="font-bold" ng-bind="Document.DocumentCode"></h4></td>
                            <td class="font-bold"><a ng-href="{{Document.DocumentPath}}" target="_blank" ng-bind="Document.DocumentTitle"></a></td>
                            <td><h4 class="font-bold" ng-bind="Document.ReleaseDate | date:GlobalDateFormat"></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 pb-20">
                <div class="row pl-15 col-sm-2 ">
                    <h4 class="font-bold">Region Specific Documents :</h4>              
                </div>
                <div class="row pl-15 col-sm-10">                    
                    <ul class="nav nav-tabs nav-justified " id="ulLinks">
                        <!--<li ng-class="(Enum.Region.Global==RegionId)?'activetab':'inactivetab'" ng-click="ChangeRegion(Enum.Region.Global)"><a class="font-bold">Global</a></li>-->                        
                        <li>
                            <ul class="nav nav-tabs" id="ulLinks">
                                <li class="width280px text-center" ng-if="region.RegionId!=Enum.Region.Global" ng-click="GetProcessDocumentBySubProcessIdAndRegionId_ByRegion(region.RegionId)" ng-class="(region.RegionId==RegionId)?'activetab':'inactivetab'" ng-repeat="region in RegionList"><a ng-bind="region.RegionName" class="font-bold li_a"></a></li>
                            </ul>
                        </li>
                    </ul>                
                </div>               
            </div>
     <!--<div class="col-sm-12">
         <hr />
     </div>-->
            <div class="col-lg-12 pt-25" ng-show="IsRegionDocumentsAvailable"  >
                <table class="table table-responsive table-bordered col-lg-12 ">
                    <thead>
                        <tr class="customertableHeader_nb">
                            <th class="col-lg-4 text-center">DOC CODE</th>
                            <th class="col-lg-4 text-center">DOCUMENT TITLE</th>
                            <th class="col-lg-4 text-center">RELEASE DATE</th>
                        </tr>
                    </thead>
                    <tbody class="fs15">
                        <tr ng-repeat="Document  in ProcessRegionDocuments">
                            <td class="pt-20 pb-20"><h4 class="font-bold" ng-bind="Document.DocumentCode"></h4></td>
                            <td class="font-bold"><a ng-href="{{Document.DocumentPath}}" target="_blank" ng-bind="Document.DocumentTitle"></a></td>
                            <td><h4 class="font-bold" ng-bind="Document.ReleaseDate | date:GlobalDateFormat"></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


  
</div>