<div class="db-content no-space" ng-controller="SubProcessListController ">

    <h3 class="title  fontorang">
        <b>
            <a ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>
            <span> &nbsp;/&nbsp;&nbsp;</span>  <span class="fontblack">{{MenuName}}</span>
        </b>
    </h3>

    <div class="top_msg">This page allows you to lookup All Sub Processes <span ng-bind="MenuName"></span></div>
    <div class="wthbox wth_content pb-0 MasterDataPanel">
        <div class="toplinks btnWithText">
            <ul>


                <li><a title="Add User" class="add" ui-sref="EditUser({UserId:0})">New</a></li>
                <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="Master"></a></li>
            </ul>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Process</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table grid table-bordered table-condensed table-hover" id="tblUser">
                                <thead>
                                    <tr>
                                        <!--<th>
                                            <input ng-click="SelectAll()" name="select_all" value="1" id="example-select-all" type="checkbox" />
                                        </th>-->
                                        <th>Process Name</th>
                                        <th>Menu Name</th>
                                        <!--<th>Network Id</th>
                                        <th>Email</th>-->
                                        <th>Created Date</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!--<td></td>-->
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                        <!--<td>Network Id</td>-->
                                        <!--<td>Email</td>-->
                                        <td>Created Date</td>
                                        <td>Active</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

