<div class="db-content no-space" ng-controller="ContactUsController">

    <h3 class="title  fontorang">
        <b>
            <a ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>
            <span> &nbsp;/&nbsp;&nbsp;</span> <span class="fontblack">{{MenuName}}</span>
        </b>
    </h3>

    <div class="col-sm-12">
        <div class="col-sm-12">
            <span class="pull-right mb-10">
                <button type="button" title="View All Contacts" ui-sref="ProcessList({MenuId:MenuId})" class="btn btn-primary "><i class="glyphicon glyphicon-eye-open"></i>&nbsp; View All Contacts</button>
                <button type="button" title="Add Processes" ng-click="showEdit(true)" class="btn btn-primary "><i class="glyphicon glyphicon-plus"></i></button>
                <button type="button" title="Edit Processes" ng-click="showEdit(false)" class="btn btn-primary"><i ng-class="(IsEditMode==false)?'glyphicon glyphicon-pencil':'glyphicon glyphicon-ok'"></i></button>
            </span>
        </div>
       
        <div ng-repeat="Contact in ContactListData | unique:'ContactId':true">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <table class="table table-bordered text-center ">
                            <tr>
                                <th ng-show="!IsEditMode" class="headerborder"></th>
                                <th ng-show="IsEditMode" class="editprocessheader"><a><i class="glyphicon glyphicon-pencil pull-right" data-original-title="Edit" data-toggle="tooltip"></i></a></th>

                            </tr>
                            <tr>
                                <td  class="bh_right_none">
                                    <div ng-bind-html="Contact.ContactDetail"></div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
            <div ng-if="(($index+1)%3)==0" class="col-sm-12">

            </div>
        </div>

      
    </div>


  
</div>

