
<style>
    .pboth{
        background-color:rgb(31,78,121)!important;
        color:white;
        font-size:15px;
    }
</style>
<form name="PressBreakDownOrderForm" novalidate ng-controller="PressBreakDownOrderController">
    <h1 class="title iac-breadcrumb"><a ui-sref="Configuration"><i class="fa fa-home"></i></a> <span translate="PressBreakOrder_Header">Press Break Down Order</span></h1> 
    <div role="tabpanel" class="form-horizontal" id="messages">
        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="PressBreakDownOrderForm.$submitted && !PressBreakDownOrderForm.$valid">

            <ul ng-show="PressBreakDownOrderForm.$submitted && !PressBreakDownOrderForm.$valid">               
                <li>Sorting value is required.</li>               
            </ul>
        </div>
    </div>  
    <div class="top_msg" translate="PressBreakOrder_TopMsg">This page allows you to lookup Press Break Down Order.</div>
    <div class="wthbox wth_content pb-0 MasterDataPanel">
        <div class="toplinks">
            <ul>
                <li ng-if="isSubModuleAccessibleToUser('DCS', 'AMP Quick Links', 'Add / Update Press Break Down Order')"><button type="submit" class="save" data-placement="top" data-toggle="tooltip" title="Save" ng-click="SavePressBreakDownOrderData(PressBreakDownOrderForm)"></button></li>
                <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="Configuration"></a></li>
            </ul>
        </div>
        
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" translate="PressBreakOrder_OrderData">Press Break Down Order Data</h3>
            </div>

            <div class="row ml-10 mt-10">
                <div class="col-sm-3 col-lg-2 form-group">
                    <label translate="BICVerification_Plant">Plant</label>
                    <select class="form-control select_list" name="PlantId" tabindex="1" ng-model="PlantId"
                            ng-options="plant.PlantID as plant.PlantName for plant in PlantList"
                            ng-change="GetPressBreakDownOrderData(PlantId)"></select>
                </div>
            </div>
            <div class="panel-body pb-0">
                <br />
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <table class="table table-bordered table-striped ">
                        <thead>
                            <tr class="pboth" width="100%">
                                <th width="60%" translate="PressBreakOrder_Press">PRESS </th>
                                <th width="40%" translate="PressBreakOrder_SortOrder">SORT ORDER</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in PressBreakDownOrderData ">
                                <td class="text-center"><b>{{item.PressNumber}}</b></td>
                                <td>
                                    <div class="col-sm-12">
                                        <div class="col-sm-9">
                                            <input  type="text" maxlength="4" integer-only class="form-control text-center ml-15" ng-model="item.OrderNumber" required="required"  />
                                        </div>
                                        <div class="col-sm-1">
                                           <b><span title="Please enter sorting value" ng-show="PressBreakDownOrderForm.$submitted && !PressBreakDownOrderForm.$valid &&(item.OrderNumber==null || item.OrderNumber=='')"  class="mandatoryField "></span></b>
                                        </div>
                                    </div>
                             
                                </td>                              
                            </tr>
                            <tr ng-show="!PlantId>0">
                                <td colspan="2" class="text-center">
                                   <h5 translate="ReplacementSavings_SelectPlant"> Please Select Plant</h5>
                                </td>
                            </tr>
                            <tr ng-show="PlantId>0 && PressBreakDownOrderData.length==0">
                                <td colspan="2" class="text-center">
                                    <h5 translate="SMOMLink_NoRecords"> No Records Found</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<ul >
                        <li class="form-control text-center"><div class="col-sm-12">
                            <div class="col-sm-7">
                                Press Name
                            </div>
                                                                 <div class="col-sm-5">
                                                                     Sort Number
                                                                 </div>
                            </div></li>
                        <li class="form-control text-center"  ng-repeat="item in PressBreakDownOrderData" data-id="{{item.PlantEquipmentListId}}" data-OrderNumber="{{item.OrderNumber}}" class="ui-state-default">
                            <span>
                                <b>Press : {{item.PressNumber}}</b>
                            </span>
                        </li>
                    </ul>-->
                </div>
            </div>
            <br />
        </div>
    </div>
    </form>
    <style type="text/css">
    #sortable {
        cursor: move;
        text-align: center;
        vertical-align: central;
    }

        #sortable li {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
