
<div class="db-content no-space" ng-controller="ProcessController">

    <h3 class="title  fontorang">
        <b>
            <a ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>
            <span> &nbsp;/&nbsp;&nbsp;</span>  <span class="fontblack">{{MenuName}}</span>
        </b>
    </h3>

    <div class="col-sm-12" ng-if="ProcessDisplayType==Enum.ProcessDisplayType.MultiTable">
        <div class="col-sm-12" ng-if="UserId>0" ng-show="isSubModuleAccessibleToUser('Process', 'Process', 'View All Process') || isSubModuleAccessibleToUser('Process', 'Process', 'Add / Update Process')">
            <span class="pull-right mb-10">
                <button type="button" ng-show="isSubModuleAccessibleToUser('Process', 'Process', 'View All Process')" title="View All Processes"  ui-sref="ProcessList({MenuId:MenuId})" class="btn btn-primary "><i class="glyphicon glyphicon-eye-open"></i>&nbsp; View All Process</button>
                <button type="button" ng-show="isSubModuleAccessibleToUser('Process', 'Process', 'Add / Update Process')" title="Add Processes" ng-click="showEdit(true)" class="btn btn-primary "><i class="glyphicon glyphicon-plus"></i></button>
                <button type="button" ng-show="isSubModuleAccessibleToUser('Process', 'Process', 'Add / Update Process')" title="Edit Processes" ng-click="showEdit(false)" class="btn btn-primary"><i ng-class="(IsEditMode==false)?'glyphicon glyphicon-pencil':'glyphicon glyphicon-ok'"></i></button>
            </span>
        </div>

        <div ng-repeat="Process in ProcessListData | unique:'ProcessId':true">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body table-responsive">
                        <table class="table table-bordered text-center ">
                            <tr class="pressTitleRow">
                                <th colspan="2" ng-bind="Process.ProcessName" class="bh_right_none"></th>
                                <th  ng-show="!IsEditMode" class="headerborder width51"></th>
                                <th  ng-show="IsEditMode && isSubModuleAccessibleToUser('Process', 'Process', 'Add / Update Process')" class="editprocessheader width51 border1"><a><i ng-click="GoToEditProcess(Process,Enum.Mode.Edit)" class="glyphicon glyphicon-pencil" data-original-title="Edit" data-toggle="tooltip"></i></a></th>

                            </tr>
                            <tr ng-if="SubProcess.SubProcessId>0" ng-repeat="SubProcess in ProcessListData | filter :{ProcessId : Process.ProcessId}: true">
                                <td class="weeklyefficiency colsm_5"><b><a ng-click="GotoProcessDetail(SubProcess,Enum.Mode.Readonly)" class="text-white">{{SubProcess.SubProcessCode}}</a></b></td>
                                <td class="font-bold text-left tableboxtd col-sm-2">{{SubProcess.SubProcessName}}</td>
                                <td class="colsm_1" ng-show="!IsEditMode"><a ng-click="GotoProcessDetail(SubProcess,Enum.Mode.Readonly)"><i class="glyphicon glyphicon-eye-open editprocessheader" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                                <td class="colsm_1 border1" ng-show="IsEditMode"><a ng-show="isSubModuleAccessibleToUser('Sub Process', 'Sub Process', 'Add / Update Sub Process')" ui-sref="EditSubProcess({MenuId:MenuId,ProcessId:Process.ProcessId,ProcessName:Process.ProcessName,SubProcessId:SubProcess.SubProcessId,SubProcessName:SubProcess.SubProcessName})"><i class="glyphicon glyphicon-pencil editprocessheader" data-original-title="Edit" data-toggle="tooltip"></i></a></td>
                            </tr>
                          
                            <tr ng-show="IsEditMode && (isSubModuleAccessibleToUser('Sub Process', 'Sub Process', 'View All Sub Process') || isSubModuleAccessibleToUser('Sub Process', 'Sub Process', 'Add / Update Sub Process'))" >
                                <!--<td class="bh_right_none"></td>-->
                               
                                <td colspan="4" class="bh_left_none">
                                    <button ng-show="isSubModuleAccessibleToUser('Sub Process', 'Sub Process', 'Add / Update Sub Process')" type="button" title="Add New Sub Processes" class="btn btn-sm btn-primary pull-right" ui-sref="EditSubProcess({MenuId:MenuId,ProcessId:Process.ProcessId,ProcessName:Process.ProcessName,SubProcessId:0,SubProcessName:''})"><i class="glyphicon glyphicon-plus"></i></button>                                   
                                    <button ng-show="isSubModuleAccessibleToUser('Sub Process', 'Sub Process', 'View All Sub Process')" type="button" title="View All Sub Processes" class="btn btn-sm btn-primary pull-right mr-10" ui-sref="SubProcessList({MenuId:MenuId,ProcessId:Process.ProcessId,ProcessName:Process.ProcessName})"><i class="glyphicon glyphicon-eye-open"></i>&nbsp; View All</button>                                                                        
                                </td>                                
                            </tr>
                               
                    </table>


                </div>
                </div>

            </div>
            <div ng-if="(($index+1)%3)==0" class="col-sm-12">

            </div>
        </div>
    </div>


    <div class="col-sm-8 col-lg-offset-2 mt-30" ng-if="ProcessDisplayType==Enum.ProcessDisplayType.List">
        <table class="table table-responsive table-bordered col-lg-8 fs16">
            <thead>
                <tr class="pressTitleRow">
                    <th class="col-sm-4">Process</th>
                    <th class="col-sm-8">Interested Departments</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Process in ProcessListData">
                    <td><a href="" ng-bind="Process.ProcessName"></a></td>
                    <td class="font-bold">Business Units, Operations, Engineering</td>
                </tr>
            </tbody>
        </table>
    </div>



</div>

