<style>
 .customertableHeader_gray{
    background-color:#1D414D !important;
    font-size:15px;
    color:white;
}
    .tilebreadcrumb_og{
    background-color:#FA8D29 !important;
}
.fs16{
    font-size:16px!important;
}
#navigation{
    background:#1D414D !important;
}
.no-space{
    margin-top:-14px;
}
    #content{
    padding:17px 0px 10px;
}
h1.title{
    margin:0 0 0px 0 !important;
}
.arrowdirection{
    font-size:12px;
    margin-left:10px;
    margin-right:10px;
}
.fontblack{
    color:black;
}
.pt8{
    padding-top:8px;
}
.pb8{
    padding-bottom:8px;
}

</style>
<div class="db-content no-space"  >
    <div class="col-sm-12 tilebreadcrumb_og pt8 pb8"><h4 class="title"><b><a title="Home"><i class="fa fa-home"></i></a> &nbsp;&nbsp;<span><a>Global Documentation System </a><span class="arrowdirection">>></span><span class="fontblack">Process Specific Information</span></span></b></h4></div>
    <div class="col-sm-8 col-lg-offset-2 mt-30">
        <table class="table table-responsive table-bordered col-lg-8 fs16">
            <thead>
                <tr class="customertableHeader_gray">
                    <th class="col-sm-4">Process</th>
                    <th class="col-sm-8">Interested Departments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="">Change Managementdfadfa</a></td>
                    <td class="font-bold">Business Units, Operations, Engineering</td>
                </tr>
                <tr>
                    <td><a href="">Commercial</a></td>
                    <td class="font-bold">CBUs</td>
                </tr>
                <tr>
                    <td><a href="">Communication Process</a></td>
                    <td class="font-bold">Communication, All Departments</td>
                </tr>
                <tr>
                    <td><a href="">Continual Improvement</a></td>
                    <td class="font-bold">Continuous Improvements, Operations</td>
                </tr>
                <tr>
                    <td><a href="">Engineering and Development</a></td>
                    <td class="font-bold">Engineering</td>
                </tr>                            
                <tr>
                    <td><a href="">Global Management System</a></td>
                    <td class="font-bold">Quality, HSE, Safety, Operations, Energy Management</td>
                </tr>
                <tr>
                    <td><a href="">Human Resource Management</a></td>
                    <td class="font-bold">Human Resource , All Departments</td>
                </tr>
                <tr>
                    <td><a href="">Information Technology</a></td>
                    <td class="font-bold">Information Technology, All Departments</td>
                </tr>
                <tr>
                    <td><a href="">Leadeship and Strategy</a></td>
                    <td class="font-bold">Legal, Strategic</td>
                </tr>
                <tr>
                    <td><a href="">Management Review</a></td>
                    <td class="font-bold">Operations</td>
                </tr>
                <tr>
                    <td><a href="">Manufacturing</a></td>
                    <td class="font-bold">Operations, Shipping, Logistics, Production Planning, Quality</td>
                </tr>
                <tr>
                    <td><a href="">Operations Management</a></td>
                    <td class="font-bold">Operations, Logistics(EU)</td>
                </tr>
                <tr>
                    <td><a href="">Procurement</a></td>
                    <td class="font-bold">Procurement</td>
                </tr>
                <tr>
                    <td><a href="">Program Management</a></td>
                    <td class="font-bold">Program Management, Operations</td>
                </tr>
                <tr>
                    <td><a href="">Quality Operations</a></td>
                    <td class="font-bold">Quality, Operations</td>
                </tr>
                <tr>
                    <td><a href="">Risk Control</a></td>
                    <td class="font-bold">Operations</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


