<h1 class="title">CT Part Thickness Addition</h1>
<div class="top_msg">This page allows you to lookup CT Part Thickness Addition.</div>
<div class="wthbox wth_content" ng-controller="CTPartThicknessAdditionController">
    <div class="toplinks">
        <ul>
            <li><a data-toggle="tooltip" data-placement="top" title="Add" class="add" ui-sref="AddCTPartThicknessAddition({CTPartThicknessAdditionId:0})"></a></li>
        </ul>
    </div>


    <table class="table grid table-condensed table-hover" id="tblCTPartThickness" style="width:100%"></table>

</div>