<form name="AddOrUpdateSearchform" novalidate ng-controller="SearchListController">
    <h3 class="title  fontorang">
        <b>
            <a ui-sref="Home" title="Home"><i class="fa fa-home"></i></a>
            <span> &nbsp;/&nbsp;&nbsp;</span><span class="fontblack"  ng-bind="MenuName"></span>
        </b>
    </h3>
    <div role="tabpanel" class="form-horizontal" id="messages">
        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(AddOrUpdateSearchform.$submitted && (!AddOrUpdateSearchform.$valid))">
            <ul ng-show="(AddOrUpdateSearchform.$submitted && (!AddOrUpdateSearchform.$valid))">
                <li ng-show="AddOrUpdateSearchform.SearchText.$error.required">Search text is required.</li>             
            </ul>
        </div>
    </div>
    <div class="top_msg">This page allow you to lookup Process,Documents</div>
    <div class="wthbox wth_content">
        <div class="toplinks">
            <ul>              
                <li><a class="cancel" data-placement="top" ui-sref="Home" data-toggle="tooltip" title="Cancel"></a></li>
            </ul>
        </div>
        <div class="row form-group">
            <label class="col-sm-3 col-lg-1 control-label text-right rn_pad mandatoryField">Search</label>
            <div class="col-sm-3 col-md-4">
               <input type="text" name="SearchText" my-enter="SearchText(AddOrUpdateSearchform)" maxlength="200" ng-model="txtSearch"  class="form-control" required="required"/>
            </div>
            <div  class="col-sm-3 col-md-1">
                <button type="submit" class="btn btn-info" ng-click="SearchText(AddOrUpdateSearchform)">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
            </div>
        </div>
        <hr />
        <div class="row form-group">
            <div class="col-sm-12 mb-30 col-lg-offset-1">
               <p class="fs15" ng-hide="PreviousSearchText==''||PreviousSearchText==null"><b><i> Showing results for <span class="txtseach" ng-bind="PreviousSearchText"></span></i></b></p> 
            </div>
          
            <label class="col-sm-3 col-lg-1 control-label text-right rn_pad "></label>
            <div class="col-sm-3 col-md-9">
                <ul>
                    <li ng-repeat="SearchObj in SearchListData">
                        <div ng-if="SearchObj.SearchType==1" class="col-sm-12">
                            <h4><a target="_blank"  ui-sref="Process({MenuId:SearchObj.MenuId})" ng-bind="SearchObj.ProcessName"></a></h4>                                                   
                            <hr />
                        </div>
                        <div ng-if="SearchObj.SearchType==2" class="col-sm-12">
                            <h4 class="mb-5"><a target="_blank" ui-sref="Process({MenuId:SearchObj.MenuId})" ng-bind="SearchObj.ProcessName"></a></h4>
                            <span>&nbsp;&nbsp;<a target="_blank" ui-sref="SubProcessDetail({MenuId:SearchObj.MenuId,ProcessId:SearchObj.ProcessId,SubProcessId:SearchObj.SubProcessId,RegionId:-1})" ng-bind="SearchObj.SubProcessCode +' '+SearchObj.SubProcessName"></a></span>                        
                            <hr />
                        </div>

                        <div ng-if="SearchObj.SearchType==3" class="col-sm-12">
                            <h4 class="mb-5"><a ui-sref="Process({MenuId:SearchObj.MenuId})" ng-bind="SearchObj.ProcessName"></a></h4>
                            <span>&nbsp;&nbsp;<a ui-sref="SubProcessDetail({MenuId:SearchObj.MenuId,ProcessId:SearchObj.ProcessId,SubProcessId:SearchObj.SubProcessId,RegionId:SearchObj.RegionId})" ng-bind="SearchObj.SubProcessCode +':'+SearchObj.SubProcessName+'|'+SearchObj.DocumentCode+' : '+SearchObj.DocumentTitle+' ('+SearchObj.RegionName+')'"></a></span>
                            <hr />
                        </div>
                      
                    </li>
                </ul>
            </div>
           
        </div>

    </div>
</form>


