<form name="AddOrUpdateWallStockform" novalidate ng-controller="AddOrUpdateWallStockController">
    <!--<h1 class="title">{{PageTitle}}</h1>-->

    <h1 class="title" ng-show="WallStockId>0" translate="WallStockCtPart_Edit"></h1>
    <h1 class="title" ng-show="!(WallStockId>0)" translate="WallStockCtPart_Add"></h1>
    <div role="tabpanel" class="form-horizontal" id="messages">
        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(AddOrUpdateWallStockform.$submitted && (!AddOrUpdateWallStockform.$valid))">
            <ul ng-show="AddOrUpdateWallStockform .$submitted && (!AddOrUpdateWallStockform.$valid)">
                <li ng-show="AddOrUpdateWallStockform.MaterialTypeId.$error.required" translate="WallStockCtPart_Validation1">Please select Material Type.</li>
                <li ng-show="AddOrUpdateWallStockform.RangeTypeName.$error.required" translate="WallStockCtPart_Validation2">Please select Range Type.</li>
                <li ng-show="AddOrUpdateWallStockform.RangeValueId.$error.required" translate="WallStockCtPart_Validation3">Please select Range Value.</li>
                <li ng-show="AddOrUpdateWallStockform.Value.$error.required" translate="WallStockCtPart_Validation4">Please enter Value.</li>
            </ul>
        </div>
    </div>
    <div class="top_msg" translate="WallStockCtPart_TopMsg">This page allow you to lookup Wall Stock</div>
    <div class="wthbox wth_content pb-0 MasterDataPanel">
        <div class="toplinks">
            <ul>
                <li ng-if="isSubModuleAccessibleToUser('DCS', 'General Settings Links', 'Add / Update Wall Stock')"><button type="submit" class="save" data-placement="top" data-toggle="tooltip" title="Save" ng-click="SaveWallStock(AddOrUpdateWallStockform)"></button></li>
                <li ng-if="isSubModuleAccessibleToUser('DCS', 'General Settings Links', 'Delete Wall Stock')" ng-show="WallStockModel.WallStockId > 0"><button type="submit" class="glyphicon glyphicon-trash cursor-pointer" data-placement="top" data-toggle="tooltip" title="Delete" ng-click="DeleteWallStock()"></button></li>
                <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="WallStock"></a></li>
            </ul>
        </div>
        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="WallStockCtPart_TypeCode">Material Type Code</label>
            <div class="col-sm-6 col-md-4">
                <select class="form-control select_list" name="MaterialTypeId" ng-model="WallStockModel.MaterialTypeId"
                        ng-options="mt.MaterialTypeId as mt.MaterialTypeCode for mt in MaterialTypeList" required="required">
                    <option value="" translate="WallStockCtPart_SelectMaterial">Select Material Type</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="WallStockCtPart_RangeType">Range Type</label>
            <div class="col-sm-6 col-md-4">
                <select class="form-control select_list" name="RangeTypeName" ng-model="WallStockModel.RangeType" required="required">
                    <option value="" translate="WallStockCtPart_SelectRange">Select Range Type</option>
                    <option value="1">WallStock</option>
                    <option value="2">CTPart</option>
                </select>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="WallStockCtPart_RangeValue">Range Value</label>
            <div class="col-sm-6 col-md-4">
                <select class="form-control select_list" name="RangeValueId" ng-model="WallStockModel.WallStockCTPartRangeId"
                        ng-options="wsct.WallStockCTPartRangeId as wsct.RangeValue for wsct in WallStockCTPartRangeList | filter:{ Type:WallStockModel.RangeType}" required="required">
                    <option value="" translate="BICKeyStandard_SelectRange">Select Range</option>
                </select>
            </div>
        </div>


        <div class="row form-group">
            <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="WallStockCtPart_Value">Value</label>
            <div class="col-sm-6 col-md-4">
                <input type="text" class="form-control text-center" name="Value" decimal-only="number 2" ng-model="WallStockModel.Value" required>
            </div>
        </div>
    </div>
</form>


