<h1 class="title iac-breadcrumb"><a ui-sref="Configuration"><i class="fa fa-home"></i></a> <span translate="WallStockCtPart_Header">Wall Stock/CT Part Thickness</span></h1>
<div class="top_msg" translate="WallStockCtPart_TopMsg">This page allows you to lookup Wall Stocks.</div>
<div class="wthbox wth_content pb-0 MasterDataPanel" ng-controller="WallStockController">
    <div class="toplinks btnWithText">
        <ul>
            <li ng-if="isSubModuleAccessibleToUser('DCS', 'General Settings Links', 'Add / Update Wall Stock')"><a class="add" ui-sref="AddWallStock({wallStockId:0})" translate="NewButton">NEW</a></li>
            <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ui-sref="Configuration"></a></li>
        </ul>
    </div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title" translate="WallStockCtPart_Header">Wall Stock / CT Part Thickness</h3>
				</div>
				<div class="panel-body">
                   
                   
					<div class="table-responsive">
                        <div class="row mt-50">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-3 notescolor mt-50">
                                <p translate="WallStock_Note">NOTE:  Please Select Range and Value to Edit</p>
                            </div>
                        </div>
						<table class="table table-bordered grid table-condensed table-hover" id="tblWallStock">
                       
                        </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>