<form name="AddOrUpdateBICCycleKeyElementStandardform" novalidate ng-controller="AddOrUpdateBICCycleKeyElementStandardController">
    <h1 class="title" ng-bind="PageTitle"></h1>
    <div role="tabpanel" class="form-horizontal" id="messages">
        <div class="alert alert-danger alert-dismissible validationErrors" ng-show="(AddOrUpdateBICCycleKeyElementStandardform.$submitted && (!AddOrUpdateBICCycleKeyElementStandardform.$valid))">
            <ul ng-show="AddOrUpdateBICCycleKeyElementStandardform .$submitted && (!AddOrUpdateBICCycleKeyElementStandardform.$valid)">
                <!--<li ng-show="AddOrUpdateBICCycleKeyElementStandardform.CountryCd.$error.required">A code is required.</li>-->
                <li ng-show="AddOrUpdateBICCycleKeyElementStandardform.BICCycleKeyElementId.$error.required" translate="BICKeyStandard_ValidationMsg1">BIC Cycle Key Element is required.</li>
                <li ng-show="AddOrUpdateBICCycleKeyElementStandardform.TonnageFrom.$error.required" >TonnageFrom is required.</li>
                <li ng-show="AddOrUpdateBICCycleKeyElementStandardform.TonnageRangeId.$error.required" translate="BICKeyStandard_ValidatiomMsg2">Tonnage Range is required.</li>
                <li ng-show="AddOrUpdateBICCycleKeyElementStandardform.TonnageTo.$error.required">TonnageTo is required.</li>
                <li ng-show="AddOrUpdateBICCycleKeyElementStandardform.BIC.$error.required" translate="BICKeyStandard_ValidatiomMsg3">BIC is required.</li>
                <li ng-show="AddOrUpdateBICCycleKeyElementStandardform.WC.$error.required" translate="BICKeyStandard_ValidatiomMsg4">WC is required.</li>
            </ul>
        </div>
    </div>
    <div class="top_msg" translate="BICKeyStandard_TopMsg">This page allow you to lookup BIC Cycle Key Element Standard</div>
    <div class="wthbox wth_content pb-0 MasterDataPanel">
        <div class="toplinks">
            <ul>
                <li ng-if="isSubModuleAccessibleToUser('DCS', 'General Settings Links', 'Add / Update BIC Standard')"><button type="submit" class="save" data-placement="top" data-toggle="tooltip" title="Save" ng-click="SaveBICCycleKeyElementStandard(AddOrUpdateBICCycleKeyElementStandardform)"></button></li>
                <li><a class="cancel" data-placement="top" data-toggle="tooltip" title="Cancel" ng-click="cancel()"></a></li>
            </ul>
        </div>
        <div class="row">
            <div class="row form-group">
                <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="BICKeyStandard_KeyElement">BIC Cycle Key Element</label>
                <div class="col-sm-6 col-md-4">
                    <select class="form-control select_list" name="BICCycleKeyElementId" ng-model="BICCycleKeyElementStandardObj.BICCycleKeyElementID"
                            ng-options="bICCycleKeyElement.BICCycleKeyElementID as bICCycleKeyElement.ElementName for bICCycleKeyElement in BICCycleKeyElementList" required="required">
                        <option value="">Select BIC Cycle Key Element</option>
                    </select>
                </div>
            </div>

            <!--<div class="col-sm-3 form-group">
                <label class="mandatoryField">Tonnage From</label>
                <input type="text" name="TonnageFrom" class="form-control" maxlength="4" integer-only  ng-model="BICCycleKeyElementStandardObj.TonnageFrom" required="required">
            </div>

            <div class="col-sm-3 form-group">
                <label class="mandatoryField">Tonnage To</label>
                <input type="text" name="TonnageTo" class="form-control" maxlength="4" integer-only ng-model="BICCycleKeyElementStandardObj.TonnageTo" required="required">
            </div>-->
            <div class="row form-group">
                <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField" translate="BICKeyStandard_Range">Range</label>
                <div class="col-sm-6 col-md-4">
                    <select class="form-control select_list" name="TonnageRangeId" ng-model="BICCycleKeyElementStandardObj.TonnageRangeId"
                            ng-options="r.TonnageRangeId as r.RangeStr for r in TonnageRangeList" required="required">
                        <option value="" translate="BICKeyStandard_SelectRange">Select Range</option>
                    </select>
                </div>
            </div>



            <div class="row form-group">
                <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField">BIC</label>
                <div class="col-sm-6 col-md-4">
                    <input type="text" class="form-control text-center" name="BIC" id="BIC" decimal-only="number 1" ng-model="BICCycleKeyElementStandardObj.Value" required="required">
                </div>
            </div>

            <div class="row form-group">
                <label class="col-sm-3 col-lg-2 text-right control-label rn_pad mandatoryField">WC</label>
                <div class="col-sm-6 col-md-4">
                    <input type="text" class="form-control text-center" name="WC" id="WC" decimal-only="number 1" ng-model="BICCycleKeyElementStandardObj.WC" required="required">
                </div>
            </div>


            <div class="row form-group">
                <label class="col-sm-3 col-lg-2 text-right control-label rn_pad" translate="Admin_Roles_IsActive">Is Active</label>
                <div class="col-sm-6 col-md-4">
                    <input type="checkbox" class="cursor-pointer" name="IsActive" id="chkActive" ng-model="BICCycleKeyElementStandardObj.IsActive">
                </div>
            </div>
        </div>
    </div>
</form>


