@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operations & Process Navigator</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")
    <script>
        //location.href = document.location.origin;
        //alert(document.location.origin);
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div class="logoimg">
                <a href="/Home">
                    <img src="~/Images/IAC.png" height="61" width="231" alt="IAC">
                </a>
                <p>
                    <span style="color: gray; font-size: 17px; font-weight: bold;"> Operations &amp; Process Navigator </span><br />
                    <span style="font-size: 10px;">Copyright &copy; 2018</span>
                </p>
            </div> 
        </header>
        <section id="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div class="centering text-center error-container">
                            <div class="text-center">
                                <h3 class="without-margin">
                                    <img src="~/Content/Images/Access-Denied-icon.png" height="70px" width="70px" />
                                      We are sorry, but you have not been granted access to the action you attempted.
                                </h3>
                                <br />
                                <h4>
                                    <b>Please click <a href="javascript:void(0)" onclick="location.href = document.location.origin">here</a> to go on home page.</b>
                                </h4>
                            </div>
                            <br />
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">  
            <div class="automotive pull-right">
                <a href="/Home">
                    <img src="~/Images/IAC.png" height="61" width="231" alt="">
                </a>
            </div>         
        </footer>
    </div>
</body>
</html>

