@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operations & Process Navigator</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/css")
    <script>
        //location.href = document.location.origin;
        //alert(document.location.origin);
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div class="logoimg">
                <a href="/Home">
                    <img src="~/Images/logo.jpg" height="65" width="500" alt="IAC">
                </a>
            </div>
        </header>
        <section id="content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div class="centering text-center error-container mt-30">
                            <div class="text-center">
                                <h3 class="without-margin">
                                    <img src="~/Content/Images/Access-Denied-icon.png" height="70px" width="70px" />
                                      We are sorry, but you have not been granted access to the action you attempted.
                                </h3>
                                <br />
                                <h4>
                                    <b>Please click <a href="javascript:void(0)" onclick="location.href = document.location.origin">here</a> to go on home page.</b>
                                </h4>
                            </div>
                            <br />
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">  
            <div class="footer-copyright text-white py-3 col-lg-offset-1 mt-25">
                © 2018 Copyright:
                <label>Global Document System</label>
            </div>        
        </footer>
    </div>
</body>
</html>

